body {
    font-family: Arial, sans-serif;
    margin: 0;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/static/images/les-machines-de-lile-nantes-002.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.edit-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 80px auto;
}

.edit-container h2 {
    text-align: center;
    margin: 0 0 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-group input[type="submit"] {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
.form-group input[type="submit"]:hover {
    background-color: #218838;
}
