<!DOCTYPE html>
<html>
<head>
    <title>Modifier Votre Profile</title>
    <link rel="stylesheet" type="text/css" href="/static/css/edit_profile.css">

</head>
<body>
    <div class="edit-container">
        <h2>Modification Du Profile</h2>
        <form action="/edit_profile" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="{{ user.email }}" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="carowner">Possédez-vous une voiture et souhaitez-vous être contacté par une personne intéressée par le covoiturage ?</label>
                <select id="carowner" name="carowner" value="{{ user.carowner }}">
                    <option value="">Choisir...</option>
                    <option value="yes">Oui</option>
                    <option value="no">Non</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder les modifications">
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <script>
                alert('{{ messages[0] }}');
            </script>
            {% endif %}
            {% endwith %}
        </form>
    </div>
</body>
</html>
