<!DOCTYPE html>
<html lang="en">
<body>

        Logged in as {{ session.username }}
    
        Not logged in
    
</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

</head>
<body>
    <header>
        {% if session.username %}
        <button onclick="location.href='/login'">{{ session.username }}</button>
        <button onclick="location.href='/logout'">Logout</button>
        {% else %}
        <button onclick="location.href='/login'">Login</button>
        <button onclick="location.href='/register'">Register</button>
        {% endif %}

    </header>

    <main>
        <iframe src="https://data.nantesmetropole.fr/explore/embed/dataset/244400404_agenda-evenements-nantes-nantes-metropole/map/?disjunctive.emetteur&disjunctive.rubrique&disjunctive.lieu&disjunctive.ville&disjunctive.lieu_quartier&location=8,47.15097,-0.3024&basemap=jawg.streets&static=false&datasetcard=false&scrollWheelZoom=true" width="800" height="600"></iframe>  
        
    <footer>
        <h3>Contact Us</h3>
        <p>Email: your.email@example.com</p>
        <p>Phone: +1 234 567 890</p>
    </footer>
    </main>
</body>
</html>
